/*---------------------------------*/

body {
   background-image: url(http://i.imgur.com/kCETDBY.jpg);
   background-size: cover;
   /*font-family: 'Lobster Two', cursive;*/
   font-family: helvetica, sans-serif;
   margin: 0 auto;
   line-height: 35px;
    max-width: 800px;
  }

input { 
       padding: 0.5px;
       background: yellow
      }
input[type="submit"]{ 
                    background:  black;
                    color: white
                     }

#header{  
         /*font-family: 'Lobster Two', cursive;*/
         font-family: helvetica, sans-serif;
         color: black;
         
         text-align: center;
         background: rgba(0,0,0,0.2);
         margin: 0 auto;
         max-width: 1000px;
         line-height: 10px;

         
 
}



#navigation{
              color: black;
                   text-align: center;
                      padding: 10px 0;
                        margin: 0 auto;
                         background: rgba(0,0,0,0.2);
                           font-size:30px; 
                            max-width: 1000px;
                              line-height: 36px;
            }

#navigation ul{
                padding: 10px;
              }
 
#navigation li{
display: inline-block;
 padding: 0px 15px 0px 15px;
}





#main{
  p{font-size: 20px;

  }
  padding: 20px 0;
  text-align: center;
  background: rgba(0,0,0,0.1);
  font-size:20px; color: black;
  line-height: 39px;
}

#footer{
  
          text-align: left;
             background: rgba(0,0,0,0.1);
               border-bottom:none;
                 margin: 0 auto;
                   max-width: 1000px;
        }


